.header {
    margin-top: 20px;
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: brown;
    height: 80px;
}

.Ylogo {
    height: 70px;
    border-radius: 1rem;
    margin-right: 50px;
}
@media only screen and (max-width: 450px){
    .Ylogo{
        margin-left: 10px;
    }
}